<!-- main - a row holds columns -->
<div class=row>
  <div class="col col-xs-12">

    <div class="form-group">
      <label for="SectionNumber">Email</label>
      <input type="text" class="form-control" id="SectionNumber" name="SectionNumber" value="<%= section.SectionNumber %>" required>
    </div>

    <div class="form-group">
      <label for="Days">Given name</label>
      <input type="text" class="form-control" id="Days" name="Days" value="<%= section.Days %>">
    </div>

    <div class="form-group">
      <label for="StartTime">Family name</label>
      <input type="text" class="form-control" id="StartTime" name="StartTime" value="<%= section.StartTime %>">
    </div>

    <div class="form-group">
      <label for="RoomNumber">City </label>
      <input type="text" class="form-control" id="RoomNumber" name="RoomNumber" value="<%= section.RoomNumber %>">
    </div>

    <div class="form-group">
      <label for="InstructorId">State </label>
      <input type="text" class="form-control" id="InstructorId" name="InstructorId" value="<%= section.InstructorId %>">
    </div>

    <div class="form-group">
      <label for="CourseId">zip </label>
      <input type="text" class="form-control" id="CourseId" name="CourseId" value="<%= section.CourseId %>">
    </div>

   

  </div>
</div>

<!-- PUT CLIENT SIDE CODE HERE -->
<script>
 
  // prevent submission when hitting enter key - optional, but user-friendly 
  document.forms[0].onkeypress = function (e) {
    var key = e.charCode || e.keyCode || 0;
    if (key == 13) {
      e.preventDefault();
    }
  }

// END CLIENT SIDE CODE  (close the script tag)
</script>